
body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: linear-gradient(135deg,#e8f5e9,#ffffff);
}

header {
  text-align: center;
}

.logo {
  width: 120px;
}

.tagline {
  color: #555;
  font-size: 14px;
}

.alert {
  background: #ffeb3b;
  padding: 10px;
  text-align: center;
  margin: 15px 0;
  border-radius: 8px;
  font-weight: bold;
}

.section-title {
  margin-top: 30px;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  border: none;
  padding: 10px;
  margin-top: 5px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
}

.btn-add { background: #4CAF50; color: white; }
.btn-remove { background: #f44336; color: white; }
.btn-primary { background: #2196F3; color: white; margin-top: 10px; }

.cart {
  margin-top: 25px;
  width: 50%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 50%;
  margin: 5px 0;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.producto-img-p, .producto-img-c {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}


.welcome {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background: linear-gradient(135deg,#e8f5e9,#ffffff);
}

.welcome-container {
  text-align:center;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  max-width:400px;
}

.mensaje {
  font-size:14px;
  color:#555;
  margin:15px 0;
}

.back-container {
  text-align: left;
  margin-bottom: 10px;
  text-align: center;
}

.btn-back {
  background: #555;
  color: white;
  padding: 8px 15px;
  width: 15%;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
}

.btn-back:hover {
  background: #333;
}

/* CONTENEDOR IMAGEN */
.img-container {
  position: relative;
}

/* BADGE AGOTADO */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

/* TEXTO AGOTADO */
.agotado-texto {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.combo-desc {
  font-size: 13px;
  color: #555;
  text-align: left;
  margin: 10px 0;
  line-height: 1.4;
}

h4 {
  margin: 5px 0;
  color: #2e7d32;
}